<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar bg-dark border-bottom border-body nav nav-pills flex-column flex-sm-row" >
        <a href="/" class="text-white nav-link fs-2">WEBSITE</a>
        <a class="nav-link active" href="/">Home</a>
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/contact-me">Contact</a>
        <a class="nav-link" href="/404">404 Example</a>
    </nav>
    <main style="max-width: 1100px; margin: 0 auto;">
        <div class="p-3 d-flex flex-column justify-content-around">
            <h1 class="fs-2">Basic Informational Site</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
            <a href="contact-me"><button class="btn btn-primary">Contact Us</button></a>
        </div>
        <div class="p-3">
            <img class="rounded-3 img-fluid object-fit-cover" src="https://images.unsplash.com/photo-1671400833073-0a066e059f44"> 
        </div>
    </main>
    <footer class="py-4 text-center mt-auto bg-dark text-white">
        <p>© SITE NAME 2023</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>